@font-face {
    font-family: 'Window';
    src: url('Window.woff2') format('woff2'),
         url('Window.woff') format('woff'),
         url('Window.otf') format('opentype');
    font-weight: 400;
}

body {
    background: yellow;
    font-family: 'Window', sans-serif;
    font-size: 100px;
}